<h1>Create products</h1>
<form action="/products/create" method="POST">
    <div class="form-control">
        <label for="name">Products name</label>
        <input type="text" name="name" placeholder="Enter the product name">
    </div>
     <div class="form-control">
        <label for="image">image of the product</label>
        <input type="text" name="image" placeholder="Enter image of the product">
    </div>
    <div class="form-control">
        <label for="price">Price of the product</label>
        <input type="text" name="price" placeholder="Enter price of the product">
    </div>
    <div class="form-control">
        <label for="description">Description</label>
        <textarea name="description" placeholder="Product description"></textarea>
    </div>
    <input type="submit" value="Register" class="btn">
</form>